@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-Roboto: "Roboto", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --color-white-50: #fefefe;
  --color-gray-150: #666666;
  --color-white-100: #e8e8e8;
  --color-gray-50: #bababa;
  --color-black-50: #191919;
  --color-black-100: #212121;
  --color-sky-50: #3dd2cc;
}

.scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@utility close {
  transform: translateX(-100vw);
}
